

<div class='row'>
	<div class="bg-light mt-1 p-5 col-lg-8">
		<table class="table table-hover table-dark-ligth">
			<thead>
				<tr>
					<th scope="col"><span class="fi-media-play"></span>#</th>
					<th scope="col">Evénement :</th>
					<th scope="col">Date :</th>
					<th scope="col">Lieu :</th>
					<th scope="col">Créateur :</th>
					<th scope="col">Lien vers :</th>

				</tr>
			</thead>
			<% @event.each do |t| %>

			<tbody>
				<th > <%= t.id %></th>
				<th > <%= t.description %></th>
				<th > <%= t.date.to_s(:db)    %></th>
				<th > <%= t.place %></th>
				<th> <%= @user.find(t.creator_id).name %></th>
				<th><%= link_to 'Evenement', event_showid_path(t.id), class: 'btn btn-primary'%></th>



			</tbody>
			<% end %>
		</table>
	</div>
</div>
